{% extends 'base.html' %}

{% block title %}Sign up now for a free trial!{% endblock %}

{% block styles %}
{{ block.super }}
<style>
h2 {
    margin-bottom: 20px;
}
section p:last-child {
    margin-bottom: 0;
}
.helptext {
    font-style: italic;
    font-size: 12px;
    color: #aaa;
    position: relative;
    top: -15px;
}
small.disc {
    margin: 25px 0;
    display: block;
    padding: 5px 15px;
    background: #f6f6f6;
}
form {
    margin-top: 40px;
}
@media screen and (max-width:420px) {
    select,
    input[type="submit"] {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
@media screen and (max-width:590px) {
    iframe {
        max-width: 100%;
        height: auto;
    }
}

</style>
{% endblock %}

{% block content %}
<div class="inner-container">
    <h2>DemoTime Beta</h2>
    <section>
        <p><strong>Hello there</strong>!
        Thank you so much for your interest in DemoTime,
        A brand new digital collaboration tool from <a href="http://domestiquestudios.com">Domestique Studios</a>.
        We're super excited to hear from you. If you have any questions about
        the platform, contact us <a href="mailto:support@domestiquestudios.com">via email</a>.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/jArR1BpLMvk" frameborder="0" allowfullscreen></iframe>

        <p>Are you a creative, manage a team or often find yourself needing to present or get feedback on your work?
        DemoTime is available to anyone! <strong>Just fill out the form below and we'll contact you ASAP.</strong></p>

    </section>

    <form action="{% url 'lead-create' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <small class="disc">
        <p>We ask anyone interested to please understand that this is a Beta grade product
        currently. We're currently in a phase of gathering as much user feedback as we
        possibly can to help guide DemoTime to success. As this is a beta, we can not
        currently make any guarantees on uptime and data integrity at this time. Please
        know however that we take those topics <i>very</i> seriously, and will do everything
        within our power to ensure you have a constant, happy experience.
        Also feel free to review our <a href="//demoti.me/terms-of-use/" target="_blank">terms of use</a>
        and <a href="//demoti.me/privacy-policy/" target="_blank">privacy policy</a>.</p>
        </small>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
